<%= provide(:title, t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".text_about_1" %> <%= link_to t(".title_rails_about_link_html"), "http://www.railstutorial.org/" %> <%= t ".text_about_2" %>
  <%= link_to t(".book_rails_link"), "http://www.railstutorial.org/book" %> <%= t ".text_about_3" %>
  <%= link_to t(".screencast_link"), "http://www.screencasts.railstutorial.org/" %>
  <%= t ".text_about_4" %>
  <%= link_to t(".rails_link"), "http://rubyonrails.org/" %>
  <%= t ".text_about_5" %>
</p>
