<%= provide(:title, t(".help")) %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".text_help_1" %>
  <%= link_to t(".rails_help_page_link"), "http://www.railstutorial.org/help" %>
  <%= t ".text_help_2" %>
  <%= link_to t(".rails_help_book_link_html"), "http://www.railstutorial.org/book" %>
</p>
