<footer class="footer">
  <small>
    <% t ".text-1" %>
    <%= link_to t(".text-link-1"), "http://www.railstutorial.org/" %>
    <%= t ".text-2" %>
    <%= link_to t(".michaelhartl"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about-link"), about_path %></li>
      <li><%= link_to t(".contact-link"), contact_path %></li>
      <li><%= link_to t(".new-link"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
